.cv .skillsName {
  margin-bottom: var(--mb-1);
}

.skillsName {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skillsCircle {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 0.75rem;
  background-color: var(--text-black-700);
  border-radius: 50%;
}
