.about .aboutContent {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about .aboutContent .aboutText {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .aboutContent .aboutText h3 {
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  font-size: 23px;
}

.about .aboutContent .aboutText h3 span {
  color: var(--skin-color);
}

.about .aboutContent .aboutText p {
  color: var(--text-black-700);
  font-size: 16px;
  line-height: 25px;
}

/* .about .aboutContent .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
  padding: 0 15px;
}

.about .aboutContent .skills .skillItem {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
  padding: 0 15px;
}

.about .aboutContent .skills .skillItem h5 {
  color: var(--text-black-900);
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  text-transform: capitalize;
} */

/* .about .aboutContent .skills .skillItem .progress {
  position: relative;
  width: 100%;
  height: 7px;
  background-color: var(--bg-black-50);
  border-radius: 4px;
}

.about .aboutContent .skills .skillItem .progress .progressIn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--skin-color);
  border-radius: 4px;
}

.about .aboutContent .skills .skillItem .skillPercent {
  position: absolute;
  top: -40px;
  right: 0;
  color: var(--text-black-900);
  font-weight: 400;
  line-height: 40px;
} */

/*
.about .aboutContent .education,
.about .aboutContent .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  padding: 0 15px;
}

.about .aboutContent h3.title {
  margin-bottom: 30px;
  color: var(--text-black-900);
  font-weight: 700;
  font-size: 24px;
}

.about .aboutContent .timelineBox {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about .aboutContent .timeline {
  position: relative;
  width: 100%;
  padding: 30px 15px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
}

.about .aboutContent .timeline .timelineItem {
  position: relative;
  padding-bottom: 50px;
  padding-left: 37px;
}

.about .aboutContent .timeline .timelineItem:last-child {
  padding-bottom: 0;
}

.about .aboutContent .timeline .timelineItem::before {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1px;
  height: 100%;
  background-color: var(--skin-color);
  content: '';
}

.about .aboutContent .timeline .circleDot {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--skin-color);
  border-radius: 50%;
}

.about .aboutContent .timeline .timelineDate {
  margin-bottom: 12px;
  color: var(--text-black-700);
  font-weight: 400;
  font-size: 14px;
}

.about .aboutContent .timeline .timelineDate svg {
  margin-right: 5px;
}

.about .aboutContent .timeline .timelineTitle {
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.about .aboutContent .timeline .timelineText {
  color: var(--text-black-700);
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
} */
