.contactForm {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.contactForm .colSix {
  flex: 0 0 50%;
  max-width: 50%;
}

.contactForm .colTwelve {
  flex: 0 0 100%;
  max-width: 100%;
}

.contactForm .formItem {
  margin-bottom: 30px;
  padding: 0 15px;
}

.contactForm .formItem .formGroup {
  position: relative;
}

.contactForm .formItem .formError {
  position: absolute;
  right: 0;
  bottom: -23px;
  display: block;
  padding-right: 20px;
  color: red;
  font-size: 12px;
  text-align: right;
  text-transform: capitalize;
}

.contactForm .formItem .formControl {
  width: 100%;
  height: 50px;
  padding: 10px 25px;
  color: var(--text-black-700);
  font-size: 16px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 25px;
  transition: all 0.3s ease;
}

.contactForm .formItem .formControl:focus {
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
}

.contactForm .formItem textarea.formControl {
  height: 140px;
}

.contactForm button {
  height: 50px;
  padding: 0 50px;
}

@media (max-width: 767px) {
  .contactForm .colSix {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .contactForm .formItem .formError {
    bottom: -22px;
    font-size: 12px;
  }
}
