.section.cv {
  padding: 1.1rem 0 0.6rem;
}

.section {
  padding: 1.5rem 0;
}

.profileDescription {
  text-align: center;
}

@media screen and (min-width: 968px) {
  .profileDescription {
    text-align: initial;
  }
}
