.timelineItem {
  position: relative;
  padding-bottom: 50px;
  padding-left: 37px;
}

.timelineItem:last-child {
  padding-bottom: 0;
}

.timelineItem::before {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1px;
  height: 100%;
  background-color: var(--skin-color);
  content: '';
}

.circleDot {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--skin-color);
  border-radius: 50%;
}

.timelineDate {
  margin-bottom: 12px;
  color: var(--text-black-700);
  font-weight: 400;
  font-size: 14px;
}

.timelineDate svg {
  margin-right: 5px;
}

.timelineTitle {
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.timelineText {
  color: var(--text-black-700);
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}
