.bdContainer.cv {
  max-width: 595px;
}

.cv .resumeLeft,
.cv .resumeRight {
  padding: 0 1rem;
}

.bdContainer {
  width: calc(100% - 3rem);
  max-width: 968px;
  margin-right: var(--mb-3);
  margin-left: var(--mb-3);
}

@media screen and (min-width: 968px) {
  .bdContainer {
    margin-right: auto;
    margin-left: auto;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--bg-black-900);
    box-shadow: 0 0 8px rgb(13 12 12 / 15%);
  }

  .resumeLeft {
    background-color: var(--bg-black-100);
  }

  .resumeLeft,
  .resumeRight {
    padding: 0 1.5rem;
  }
}
