.contactTitle {
  margin-bottom: 20px;
  padding: 0 15px;
  color: var(--skin-color);
  font-size: 25px;
  text-align: center;
}

.contactSubTitle {
  margin-bottom: 60px;
  padding: 0 15px;
  color: var(--text-black-900);
  font-size: 15px;
  text-align: center;
}

.contact .contactInfoItem {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 60px;
  padding: 0 15px;
  text-align: center;
}

.contact .contactInfoItem .icon {
  display: inline-block;
}

.contact .contactInfoItem .icon svg {
  color: var(--skin-color);
  font-size: 25px;
}

.contact .contactInfoItem h4 {
  margin: 15px 0 5px;
  color: var(--text-black-900);
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}

.contact .contactInfoItem p {
  color: var(--text-black-700);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

.contact .contactInfoItem p a {
  color: var(--skin-color);
}

@media (max-width: 991px) {
  .contact .contactInfoItem {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .contact .contactForm .colSix {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
