.section.cv {
  padding: 1.1rem 0 0.8rem;
}

.cv .experienceContainer {
  gap: 1rem;
}

.cv .experienceTime {
  padding-right: 0.5rem;
}

.cv .experienceRounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}

.cv .experienceLine {
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}

.cv .experienceData {
  gap: 0.25rem;
}

.section {
  padding: 1.5rem 0;
}

.bdGrid {
  display: grid;
  gap: 1.5rem;
}

.experienceContent {
  display: flex;
}

.experienceTime {
  padding-right: 1rem;
}

.experienceRounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 0.25rem;
  background-color: var(--skin-color);
  border-radius: 50%;
}

.experienceLine {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--skin-color);
  transform: translate(7px, 0);
}

.experienceData {
  gap: 0.5rem;
}

.experienceTitle {
  font-size: var(--h3-font-size);
}

.experienceCompany {
  color: var(--text-black-900);
  font-size: var(--small-font-size);
}
