.portfolioItem {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
  padding: 0 15px;
}

.portfolioImg {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 225px;
}

.portfolioMask {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: var(--bg-black-100);
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  transform: translateY(100%);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.portfolioItem:hover .portfolioMask {
  transform: translateY(0);
}

.portfolioLink {
  display: inline-block;
  padding: 7px 10px;
  color: var(--text-black-900);
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
}

.portfolioLink:hover {
  color: var(--skin-color);
}

.portfolioItem .portfolioItemInner {
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
  border: 6px solid var(--bg-black-100);
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
}

.portfolioItem .portfolioItemInner .portfolioImg img {
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.portfolioItem:hover .portfolioItemInner .portfolioImg img {
  transform: scale(1.05);
}

@media (max-width: 991px) {
  .portfolioItem {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .portfolioItem {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
