.section.cv {
  padding: 1.1rem 0 0.8rem;
}

.cv .certificateContainer {
  gap: 1rem;
}

.section {
  padding: 1.5rem 0;
}

.bdGrid {
  display: grid;
  gap: 1.5rem;
}

.certificateCircle {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 0.75rem;
  background-color: var(--text-black-700);
  border-radius: 50%;
}

.certificateTitle {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-1);
  font-size: var(--h3-font-size);
}
